body {
    padding-top: 55px;
}

.txtBlue{
    color: blue;
}

.background-dark{
    background-color: rgba(00,10,59, 0.1) !important; 
}

.background-light{
    background-color: rgba(00,15,75, 0.1) !important; 
}

.txtLarge{
    font-size: xx-large !important;
}

.hoverChange :hover{
    background-color: #269abc !important; 
    color: white !important;
}

.bold{
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.boldBlack{
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.leftMargin{
    margin-left: 15px;
}

.topMargin{
    margin-top: 5px;
}